In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
ser = pd.Series(['4','8','15','16','23','42'])
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: object

In [ ]:
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
import pandas as pd
List=['1','2','3','4','5','6','7','8','9','10']
ser=pd.Series(List)
print(ser)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: object

In [ ]:
Q3. Create a Pandas DataFrame that contains the following data.

In [5]:
import pandas as pd
data = [['Alice', 25,'Female'], ['Bob', 30,'Male'], ['Claire', 27,'Female']]
df = pd.DataFrame(data,columns=['Name', 'Age','Gender'])
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
Ans :- A DataFrame is a two-dimensional table with rows and columns, while a Series is a one-dimensional array-like object
       with an index.
       A DataFrame in Pandas is a table of data with rows and columns. It is a two-dimensional labeled data structure with 
       columns of potentially different types. You can think of it like a spreadsheet or SQL table. It is the most
       commonly used data structure in Pandas and allows you to perform a variety of operations on data, including 
       filtering, sorting,grouping, and merging.
       Here's an example of creating a DataFrame in Pandas:

In [ ]:
import pandas as pd

# create a dictionary with data
data = {'name': ['Alice', 'Bob', 'Charlie', 'David'],
        'age': [25, 30, 35, 40],
        'country': ['USA', 'Canada', 'UK', 'Australia']}

# create a DataFrame
df = pd.DataFrame(data)

print(df)

In [ ]:
On the other hand, a Series is a one-dimensional labeled array capable of holding any data type (integers, strings, 
floating point numbers, Python objects, etc.). An example of creating a Pandas Series would be:

In [ ]:
import pandas as pd

# create a list of data
data = [25, 30, 35, 40]

# create a Series
s = pd.Series(data)

print(s)

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Ans:- Pandas DataFrame provides a wide range of functions to manipulate and transform data. Here are some common functions
      that you can use to manipulate data in a Pandas DataFrame.
    1.head() and tail(): These functions are used to view the top or bottom n rows of a DataFrame. 
      For example, df.head(10) will display the first 10 rows of the DataFrame df.
    2.info(): This function is used to get a concise summary of the DataFrame, including its data types, number of 
      non-null values, and memory usage.
    3.describe(): This function provides a statistical summary of the DataFrame, including the count, mean, standard 
      deviation, minimum, maximum, and quartile values.
    4.sort_values(): This function is used to sort the DataFrame by one or more columns. 
      For example, df.sort_values('column_name', ascending=False) will sort the DataFrame df in descending order by the 
      values in the column 'column_name
    5.groupby(): This function is used to group the DataFrame by one or more columns and perform an aggregation function,
      such as sum(), mean(), count(), or max() on each group. For example, df.groupby('column_name').sum() will group the
      DataFrame df by the values in the column 'column_name' and calculate the sum of each group.
    6.fillna(): This function is used to fill missing values in the DataFrame with a specified value or method, such as
      'ffill' or 'bfill'. For example, df.fillna(0) will replace all missing values in the DataFrame df with 0.
    7.drop_duplicates(): This function is used to remove duplicate rows from the DataFrame.
      For example, df.drop_duplicates() will remove all duplicate rows from the DataFrame df
    8.apply(): This function is used to apply a function to each row or column of the DataFrame. 
      For example, df['column_name'].apply(function_name) will apply the function function_name to each value in the
      column 'column_name'.

Example:- Let's say you have a DataFrame containing data on the sales of products in different countries, and you want 
          to find the total sales for each country. You can use the groupby() function to group the DataFrame by country 
          and then use the sum() function to calculate the total sales for each group.

import pandas as pd
# create a sample DataFrame
data = {'country': ['USA', 'USA', 'Canada', 'Canada', 'UK', 'UK'],
        'product': ['A', 'B', 'A', 'B', 'A', 'B'],
        'sales': [100, 200, 150, 250, 120, 180]}

df = pd.DataFrame(data)

# group the DataFrame by country and sum the sales
sales_by_country = df.groupby('country')['sales'].sum()

print(sales_by_country)

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
Ans:-In Pandas, both Series and DataFrame are mutable in nature, meaning that you can modify their values, add or remove
     rows and columns, and change their structure. On the other hand, Panel is deprecated in Pandas version 1.0.0 and
      above and has been replaced by the MultiIndex. Therefore, it is not recommended to use the Panel in Pandas.

In [ ]:
Q.7 Create a DataFrame using multiple Series. Explain with an example.
Ans :- Yes, we can create a DataFrame using multiple Series in Pandas.
       Here's an example of how to create a DataFrame using two Series:

import pandas as pd

# create a Series of student names
names = pd.Series(['Alice', 'Bob', 'Charlie', 'David', 'Emily'])

# create a Series of student scores
scores = pd.Series([85, 90, 78, 92, 88])

# combine the two Series into a DataFrame
df = pd.DataFrame({'Name': names, 'Score': scores})

# print the DataFrame
print(df)


In this example, we first created two Series - 'names' and 'scores' - that contain the names of students and their
corresponding scores, respectively. We then combined these two Series into a DataFrame using the pd.DataFrame() function,
where the keys of the dictionary passed as an argument correspond to the column names of the resulting DataFrame, and the
values are the Series that we want to combine.

Finally, we printed the resulting DataFrame to see the result. The output shows a DataFrame with two columns, 'Name' and
'Score', where each row contains the corresponding values from the two Series.