In [ ]:
Consider following code to answer further questions:

In [3]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [ ]:
Q1. Write a code to print the data present in the second row of the dataframe, df.

In [13]:
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [ ]:
Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In [ ]:
In pandas, the loc and iloc functions are used to select subsets of data from a DataFrame. The primary difference between these two 
functions is the way they index the data.

loc is a label-based selector that uses index labels to select data from a DataFrame. It accepts row and column labels and returns a
subset of data that matches those labels. For example, if you have a DataFrame with row labels 'A', 'B', and 'C' and column labels 'X' 
and 'Y', you can use df.loc['A':'C', 'X':'Y'] to select a subset of data that includes rows 'A' through 'C' and columns 'X' through 'Y'.

On the other hand, iloc is a positional selector that uses integer indices to select data from a DataFrame. It accepts row and column 
indices and returns a subset of data that matches those indices. For example, if you have a DataFrame with three rows and two columns, 
you can use df.iloc[0:2, 0:1] to select a subset of data that includes the first two rows and the first column.

In summary, loc is used to select data based on labels, while iloc is used to select data based on integer positions.

In [ ]:
Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [36]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

reindex = [3,0,1,2] # Renamed the list to new_index
new_df = df.reindex(reindex)

In [37]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [38]:
 new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [ ]:
There is a difference between the two outputs.

Using loc[2] returns the row with label 2 in the new DataFrame new_df, which corresponds to the row with index 1 in the original
DataFrame df. This row has the values "Big Data" and 6 for the columns "course_name" and "duration", respectively.

Using iloc[2] returns the third row in the new DataFrame new_df, which corresponds to the row with index 1 in the original DataFrame df.
This row also has the values "Machine Learning" and 3 for the columns "course_name" and "duration", respectively.

Therefore, we can observe that the outputs of loc[2] and iloc[2] are different in this case, as they access different rows of the
DataFrame.

In [ ]:
Consider the below code to answer further questions:

In [84]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.908859  0.214085  0.129500  0.315607  0.381819  0.489388
2  0.826775  0.257832  0.664870  0.335223  0.818134  0.944528
3  0.513583  0.904814  0.512007  0.046105  0.602152  0.962705
4  0.051612  0.601135  0.957236  0.081399  0.388527  0.876878
5  0.198569  0.025133  0.433325  0.541307  0.559896  0.487579
6  0.720465  0.566308  0.110171  0.850791  0.164969  0.459752

In [ ]:
Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.

In [44]:
df1.mean()

column_1    0.468474
column_2    0.417971
column_3    0.465784
column_4    0.429991
column_5    0.634116
column_6    0.487112
dtype: float64

In [ ]:
(ii) standard deviation of column, ‘column_2’

In [46]:
df1['column_2'].std()

0.3594229698165569

In [ ]:
Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [86]:
df1.iloc[1, 1]='Manish'

In [87]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.908859  0.214085  0.129500  0.315607  0.381819  0.489388
2  0.826775    Manish  0.664870  0.335223  0.818134  0.944528
3  0.513583  0.904814  0.512007  0.046105  0.602152  0.962705
4  0.051612  0.601135  0.957236  0.081399  0.388527  0.876878
5  0.198569  0.025133  0.433325  0.541307  0.559896  0.487579
6  0.720465  0.566308  0.110171  0.850791  0.164969  0.459752

In [88]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
Reason of Error :- error occured because the column 2 has a string variable in between all the floating point number , and floating point
number and string are of different datatype. and the mean calculation is not possible on different variable of different datatypes.
so therefore mean cannnot be calculated.

In [ ]:
Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In [ ]:
In pandas, a window function is a function that operates on a sliding window of data in a DataFrame or Series. Window functions allow you
to perform calculations on a subset of the data, where the subset is defined by a window of rows.

There are several types of window functions available in pandas:

1.Rolling Window Functions: This type of window function applies a function to a sliding window of fixed size. The size of the window can
be specified using the rolling method.

2.Expanding Window Functions: This type of window function applies a function to a window that starts from the beginning of the data and
expands with each row. The expanding window can be specified using the expanding method.

3.Exponential Weighted Window Functions: This type of window function applies a function to a sliding window where the weights assigned to 
each row in the window decrease exponentially as you move further away from the current row. These functions can be specified using the
ewm method.

4.Aggregation Functions: This type of window function applies a function to a sliding window and returns a single value for each window. 
Examples of aggregation functions include sum, mean, max, min, etc. These functions can be specified using the rolling or expanding
methods.

5.Transformation Functions: This type of window function applies a function to each row in a sliding window and returns a new value for 
each row. Examples of transformation functions include diff, pct_change, etc. These functions can be specified using the rolling or 
expanding methods.

Window functions can be useful in a variety of data analysis tasks such as time series analysis, signal processing, and data cleaning.

In [ ]:
Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [ ]:
The pandas.datetime function is deprecated and is not available in the latest version of pandas. Instead, we can use the built-in Python
datetime module to get the current month and year. Here is an example code:

In [90]:
import datetime

current_month_year = datetime.datetime.now().strftime("%B %Y")
print(current_month_year)

March 2023

In [ ]:
Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [92]:
import pandas as pd

# Prompt the user to enter the dates
date1_str = input("Enter the first date (YYYY-MM-DD): ")
date2_str = input("Enter the second date (YYYY-MM-DD): ")

# Convert the dates to datetime objects
date1 = pd.to_datetime(date1_str)
date2 = pd.to_datetime(date2_str)

# Calculate the time difference using Pandas time delta
time_diff = date2 - date1

# Extract the number of days, hours, and minutes from the time difference
days = time_diff.days
hours = time_diff.seconds // 3600
minutes = (time_diff.seconds % 3600) // 60

# Display the result
print("The time difference between", date1_str, "and", date2_str, "is:")
print(days, "days,", hours, "hours,", "and", minutes, "minutes.")

Enter the first date (YYYY-MM-DD):  2000-12-16
Enter the second date (YYYY-MM-DD):  2023-03-30

The time difference between 2000-12-16 and 2023-03-30 is:
8139 days, 0 hours, and 0 minutes.

In [ ]:
Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd

# Prompt the user to enter the file path
file_path = input("Enter the file path: ")

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Prompt the user to enter the column name and category order
col_name = input("Enter the column name: ")
cat_order = input("Enter the category order (comma-separated): ").split(",")

# Convert the specified column to a categorical data type with the specified order
df[col_name] = pd.Categorical(df[col_name], categories=cat_order, ordered=True)

# Sort the DataFrame by the specified column
df = df.sort_values(col_name)

# Display the sorted data
print(df)

In [ ]:
Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Prompt the user to enter the file path
file_path = input("Enter the file path: ")

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Convert the date column to a datetime data type
df['date'] = pd.to_datetime(df['date'])

# Group the data by product category and date, and sum the sales for each group
grouped = df.groupby(['product_category', 'date']).sum()

# Pivot the data to create a table of sales by product category and date
pivoted = grouped.pivot_table(values='sales', index='date', columns='product_category')

# Plot a stacked bar chart of the sales by product category and date
ax = pivoted.plot(kind='bar', stacked=True)

# Set the x-axis label to 'Date' and the y-axis label to 'Sales'
ax.set_xlabel('Date')
ax.set_ylabel('Sales')

# Set the title of the chart
plt.title('Sales by Product Category Over Time')

# Display the chart
plt.show()

In [ ]:
Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.

In [ ]:
import pandas as pd

# Prompt the user to enter the file path of the CSV file containing the student data
file_path = input("Enter the file path of the CSV file containing the student data: ")

# Read the CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

# Calculate the mean, median, and mode of the test scores
mean = df['Test Score'].mean()
median = df['Test Score'].median()
mode = df['Test Score'].mode()

# Display the mean, median, and mode in a table
table = pd.DataFrame({'Statistic': ['Mean', 'Median', 'Mode'],
                      'Value': [mean, median, mode]})
print(table)